<ng-container *ngIf="!loading && article != null; else loadingBlock">
  <main
    class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased"
  >
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
      <article
        class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
      >
        <header class="mb-4 lg:mb-6 not-format">
          <address class="flex items-center mb-6 not-italic">
            <div
              class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"
            >
              <a [routerLink]="['/user', article.author]">
                <img
                  *ngIf="
                    article.authorData.profilePictureFileName != null;
                    else ifNoProfilePictureBlock
                  "
                  class="mr-4 w-16 h-16 rounded-full"
                  [src]="
                    getMediaLink(article.authorData.profilePictureFileName)
                  "
                  [alt]="article.authorData.username"
                />
                <ng-template #ifNoProfilePictureBlock>
                  <div class="mr-4">
                    <div
                      class="relative w-14 h-14 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600"
                    >
                      <svg
                        class="absolute w-16 h-16 text-gray-400 -left-1"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </ng-template>
              </a>
              <div>
                <a
                  href="#"
                  rel="author"
                  class="text-xl font-bold text-gray-900 dark:text-white"
                  >{{ article.authorData.username }}</a
                >

                <p class="text-base text-gray-500 dark:text-gray-400">
                  <time
                    pubdate
                    datetime="2022-02-08"
                    title="February 8th, 2022"
                    >{{ article.createdAtTime | date }}</time
                  >
                </p>
              </div>
            </div>
          </address>
          <h1
            class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"
          >
            {{ article.title }}
          </h1>
        </header>
        <p class="lead">
          {{ article.content }}
        </p>
        <ng-container *ngIf="article.medias.length > 0">
          <h2
            class="mb-4 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-2xl dark:text-white"
          >
            Gallery
          </h2>
          <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <div *ngFor="let m of article.medias">
              <img
                class="h-auto max-w-full rounded-lg"
                [src]="getMediaLink(m)"
                alt="Article media"
              />
            </div>
          </div>
        </ng-container>
        <p class="text-sm text-gray-500 truncate dark:text-gray-400 my-2">
          {{ article.tags.join(", ") }}
        </p>
        <p class="text-sm text-gray-400 truncate dark:text-gray-400">
          {{ article.link }}
        </p>
        <hr class="my-4" />
        <div class="w-full">
          <a [href]="article.link">
            <button
              type="button"
              class="m-4 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
              (click)="onAccessLink($event)"
            >
              Access Link
            </button>
          </a>
          <div class="my-4 flex flex-row float-right">
            <p class="m-2 font-mono text-gray-400 icon-text-btn">
              <ng-icon
                name="ionArrowForwardOutline"
                size="24"
                class="article-icon"
              ></ng-icon>
              {{ article.clicks }}
            </p>
            <p class="m-2 font-mono text-gray-400 icon-text-btn">
              <ng-icon
                name="ionEyeOutline"
                size="24"
                class="article-icon"
              ></ng-icon>
              {{ article.views }}
            </p>
            <p
              class="m-2 font-mono text-gray-400 icon-text-btn"
              (click)="onClickVoteFor($event)"
            >
              <ng-icon
                name="ionThumbsUpOutline"
                size="24"
                [ngClass]="{ voted: article.votes.userChoice === true }"
                class="article-icon"
              ></ng-icon>
              {{ article.votes.for }}
            </p>
            <p
              class="m-2 font-mono text-gray-400 icon-text-btn"
              (click)="onClickVoteAgainst($event)"
            >
              <ng-icon
                name="ionThumbsDownOutline"
                size="24"
                class="article-icon"
                [ngClass]="{ voted: article.votes.userChoice === false }"
              ></ng-icon>
              {{ article.votes.against }}
            </p>
          </div>
        </div>
        <!--<app-comment-section></app-comment-section>-->
      </article>
    </div>
  </main>
</ng-container>
<ng-template #loadingBlock></ng-template>
